# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Computer_Science\3th_Semester\Programming\Frontend\Cinema_frontend_project\Kodak-Frontend-Cinemaxx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
